* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    font-family: sans-serif;
    line-height: 1.5;
    background-color: black;
  }
  
  .advantages-container {
    display: flex;
    height: 344px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    background: #1E1823;
    margin: 0 auto;
  }
  
  .advantages-list {
    display: flex;
    /* Make a flex container multiline */
    flex-wrap: wrap;
    /* Set gap between rows and columns */
    gap: 10px;
    padding: 0;
    list-style: none;
  }
  
  .advantages-item {
    /*  Set the width of the elements  */
    flex-basis: calc((100% - 20px) / 3);
    
    padding: 10px;
    background-color: #1E1823;
    border-radius: 4px;
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
      0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  }

  .advantages-svg-box {
    border: 1px solid rgba(255, 255, 255, 0.50);
    width: 62px;
    height: 62px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .advantages-title {
    color: #FFF;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
  
  .advantages-description {
    color: rgba(255, 255, 255, 0.70);
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.28px;
  }
  
  .advantages-icon {
    width: 32px;
    height: 32px;
    flex-shrink: 0;
  }
  