.advantages-container {
  width: 1200px;
  display: flex;
  height: 344px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  background: #1e1823;
  margin: 0 auto;
  padding: 0 32px;
}

.advantages-list {
  display: flex;
  /* Make a flex container multiline */

  /* Set gap between rows and columns */
  gap: 10px;
  padding: 0;
  list-style: none;
}

.advantages-item {
  /*  Set the width of the elements  */
  flex-basis: calc(100% / 3 - 30px);
  margin-left: 36px;
  margin-right: 36px;
  background-color: #1e1823;
  border-radius: 4px;
  width: 308px;
  height: 244px;
}

.advantages-svg-box {
  border: 1px solid rgba(255, 255, 255, 0.5);
  width: 62px;
  height: 62px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 22px;
}

.advantages-title {
  color: #fff;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 18px;
}

.advantages-description {
  color: rgba(255, 255, 255, 0.7);
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.28px;
}

.advantages-icon {
  width: 32px;
  height: 32px;
  flex-shrink: 0;
}
