.buynow {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 1000;
  overflow-y: scroll;
}

.buynow-modal {
  position: absolute;
  top: 500px;
  // top: 50%;
  left: 50%;
  background-color: #fafafa;
  border-radius: 15px;
  padding: 32px 24px;
  width: 100%;
  height: 994px;

  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and (min-width: 375px) {
    min-width: 311px;
    min-height: 994px;
    width: 0;
  }

  @media screen and (min-width: 768px) {
    top: 550px;
    padding: 48px;
    min-width: 609px;
    min-height: 1058px;
    width: 0;
  }
}

.buynow.hidden .buynow-modal {
  transform: translate(-50%, -50%) scale(0);
}

.hidden {
  visibility: none;
  opacity: 0;
  pointer-events: none;
}

.buynow-close {
  position: absolute;
  top: 14px;
  right: 14px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  border: none;
  background-color: transparent;
  stroke: #111111;
  stroke-width: 2px;
  cursor: pointer;
  transition: stroke 250ms cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and (min-width: 768px) {
    width: 28px;
    height: 28px;
    top: 24px;
    right: 24px;
  }
}

.buynow-icon {
  width: 24px;
  height: 24px;

  @media screen and (min-width: 768px) {
    width: 28px;
    height: 28px;
  }
}

.buynow-icon:hover,
.buynow-icon:focus {
  stroke: var(--orange);
}

.buynow-title {
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: -0.72px;
  color: #111111;
  margin-bottom: 32px;
}

.buy {
  color: var(--orange);
  margin-right: 5px;
}

// .bestbuy-list {
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   gap: 16px;
// }

.bestbuy-list {
  display: block;

  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
  }
}

.buestbuy-item {
  display: flex;
  justify-content: space-between;
  padding: 8px 16px;
  background-color: white;
  border-radius: 15px;
  margin-bottom: 8px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.12);

  @media screen and (min-width: 768px) {
    display: block;
    padding: 24px 20px 18px;
  }
}

.bestbuy-image {
  width: 84px;
  height: 69px;
  @media screen and (min-width: 768px) {
    width: 120px;
    height: 111px;
  }
}

.bestbuy-button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto 0 auto;
  padding: 8px 16px;
  font-family: inherit;
  font-size: 14px;
  font-weight: 600;
  border-radius: 100px;
  color: #111111;
  background: #fafafa;
  border: 1px solid rgba(17, 17, 17, 0.1);

  @media screen and (min-width: 768px) {
    padding: 8px 27px;
    margin: 14px auto 0;
  }
}

.bestbuy {
  margin-bottom: 54px;

  @media screen and (min-width: 768px) {
    margin-bottom: 66px;
  }
}

.buynow-field,
.buynow-comment {
  display: block;
  position: relative;
}

.buynow-label {
  position: absolute;
  color: #000;
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: -0.28px;
  margin-bottom: 44px;
  top: -25px;

  @media screen and (min-width: 768px) {
    font-size: 14px;
  }
}

.personal-field {
  display: block;
  position: relative;
  margin-bottom: 30px;
  // gap: 21px;

  @media screen and (min-width: 768px) {
    display: flex;
    position: relative;
    gap: 21px;
    margin-bottom: 0;
  }
}

.buynow-personal {
  //   display: block;
  padding: 14px 18px;
  color: #000;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: -0.36px;
  border-radius: 13px;
  border: 1.5px solid rgba(17, 17, 17, 0.05);
  box-shadow: 0px 5.44492px 5.44492px 0px rgba(0, 0, 0, 0.03);
  outline: none;
  width: 100%;
  //   height: auto;
  margin-bottom: 14px;

  @media screen and (min-width: 768px) {
    margin-bottom: 44px;
    padding: 22px 24px;
    font-size: 18px;
  }
}

.buynow-input,
.buynow-textarea {
  //   display: block;
  padding: 14px 18px;
  color: #000;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: -0.36px;
  border-radius: 13px;
  border: 1.5px solid rgba(17, 17, 17, 0.05);
  box-shadow: 0px 5.44492px 5.44492px 0px rgba(0, 0, 0, 0.03);
  outline: none;
  width: 100%;
  //   height: auto;
  margin-bottom: 40px;

  @media screen and (min-width: 768px) {
    margin-bottom: 44px;
    padding: 22px 24px;
    font-size: 18px;
  }
}

.buynow-phone {
  //   display: block;
  padding: 10px 18px 10px 110px;
  color: #000;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: -0.36px;
  border-radius: 13px;
  border: 1.5px solid rgba(17, 17, 17, 0.05);
  box-shadow: 0px 5.44492px 5.44492px 0px rgba(0, 0, 0, 0.03);
  outline: none;
  width: 100%;
  height: auto;
  margin-bottom: 40px;

  @media screen and (min-width: 768px) {
    padding: 22px 24px 22px 160px;
    margin-bottom: 44px;
    font-size: 18px;
  }
}

.code {
  color: #000;
  font-size: 14px;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.36px;
  border-right: 1px solid rgba(64, 64, 64, 0.3);
  padding-right: 10px;

  @media screen and (min-width: 768px) {
    font-size: 18px;
    padding-right: 20px;
  }
}

.flag-icon {
  width: 24px;
  height: 18px;

  @media screen and (min-width: 768px) {
    width: 32px;
    height: 24px;
  }
}

.phone-wrapper {
  display: flex;
  position: absolute;
  left: 20px;
  top: 10px;
  gap: 8px;

  @media screen and (min-width: 768px) {
    left: 27px;
    top: 23px;
    gap: 18px;
  }
}

.buynow-card {
  position: absolute;
  width: 32px;
  height: 21px;
  right: 20px;
  top: 13px;

  @media screen and (min-width: 768px) {
    width: 30px;
    height: 18px;
    position: absolute;
    right: 20px;
    top: 23px;
  }
}

.buynow-textarea {
  resize: none;
  margin-bottom: 0;
}

.buynow-personal::placeholder,
.buynow-input::placeholder,
.buynow-phone::placeholder,
.buynow-textarea::placeholder {
  font-size: 14px;
  color: rgba(64, 64, 64, 0.3);

  @media screen and (min-width: 768px) {
    font-size: 18px;
  }
}

.buynow-comment {
  margin-bottom: 18px;
}

.submit-button {
  color: var(--white);
  background-color: var(--orange);
  padding: 12px 28px;
  border-radius: 100px;
  margin-right: 14px;
  border-color: transparent;
  font-family: inherit;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and (min-width: 1200px) {
    padding: 14px 40px;
  }
}

.submit-button:hover,
.submit-button:focus {
  color: var(--orange);
  background-color: #fcf1e0;
}
