/* varaiables */
:root {
  --primarycolor: #1e1823;
  --orange: #fd9222;
  --whitecolor: #fff;
}

/* GENERAL declarations */

.footer-container {
  width: 1200px;
  max-width: 100%;
  margin: 0 auto;
  padding: 32px 20px;

  @media screen and (min-width: 768px) {
    width: 768px;
    padding: 50px 32px;
    margin: 0 auto;
  }

  @media screen and (min-width: 1200px) {
    width: 1200px;
  }
}

/* FOOTER section */
.footer {
  background-color: var(--primarycolor);
}

.footer-main {
  display: flex;
  flex-direction: column;

  @media screen and (min-width: 768px) {
    flex-direction: row;
  }
}

.footer-caption {
  font-family: 'Montserrat';
  font-size: 24px;
  font-weight: 500;
  line-height: 34px;
  letter-spacing: -0.56px;
  margin: 32px 55x 32px 20px;
  width: 100%;

  @media screen and (min-width: 768px) {
    font-size: 28px;
    margin: 0 124px 54px 0;
  }

  @media screen and (min-width: 1200px) {
    margin: 0 543px 62px 0;
  }
}

.caption-highlight {
  color: var(--orange);
}

.contacts-icons-container {
  display: flex;
  gap: 113px;
  margin-top: 32px;

  @media screen and (min-width: 768px) {
    justify-content: flex-end;
    gap: 50px;
    margin-top: 0;
  }

  @media screen and (min-width: 1200px) {
    gap: 63px;
  }
}

.footer-contacts {
  display: flex;
  flex-direction: column;
  margin-left: 0 auto;
}

.footer-contacts-menu {
  display: block;
}

.contacts-title {
  margin-bottom: 14px;
  font-weight: 500;
  line-height: 18px;
}

.contacts-title,
.footer-contacts-menu .item {
  font-family: 'Montserrat';
  font-style: normal;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.28px;
  letter-spacing: -0.28px;
}

.contacts-icons-container {
  display: flex;
  gap: 113px;

  @media screen and (min-width: 768px) {
    gap: 50px;
  }

  @media screen and (min-width: 1200px) {
    gap: 63px;
  }
}

.social-footer {
  color: var(--whitecolor);
  fill: transparent;
  display: flex;
  gap: 14px;

  @media screen and (min-width: 768px) {
    gap: 18px;
  }
}

.social-footer .link {
  stroke: currentColor;
}

.social-footer .link {
  width: 22px;
  height: 22px;

  @media screen and (min-width: 768px) {
    width: 24px;
    height: 24px;
  }
}

.footer-icon {
  transition: stroke 250ms ease-in-out;
}

.footer-icon:hover,
.footer-icon:focus {
  stroke: var(--orange);
}

hr.divider {
  margin-top: 32px;
  margin-bottom: 32px;
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.bottom {
  font-family: 'Montserrat';
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: -0.28px;
  display: flex;
  flex-direction: column;
  gap: 18px;
  margin-top: 32px;

  @media screen and (min-width: 768px) {
    flex-direction: row;
    gap: 24px;
    margin-top: 24px;
  }
}

.bottom > li > a {
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.bottom > li > a::after {
  position: absolute;
  content: '';
  left: 0;
  bottom: -10px;
  width: 100%;
  opacity: 0;
  border: 1px solid #fd9222;
  border-radius: 2px;
  background-color: #fd9222;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.bottom > li > a:hover::after,
.bottom > li > a:focus::after {
  opacity: 1;
}

.bottom > li > a:hover,
.bottom > li > a:focus {
  color: #fd9222;
}

.bottom .item {
  margin-bottom: 0;
}
