.page-header {
  margin-top: 28px;
  margin-bottom: 36px;
}

.menu,
.nav-menu,
.navigation,
.social-contacts {
  display: flex;
  align-items: center;
}

.nav-menu .item:not(:last-child) {
  margin-right: 24px;
}

.nav-menu.list {
  margin-left: 188px;
}

.social-contacts.list {
  margin-right: auto;
  margin-left: 137px;
  gap: 18px;
}

.logo {
  font-size: 18px;
  font-style: italic;
  font-weight: 700;
  line-height: 1.1;
  letter-spacing: -0.54px;
}

.nav-menu.list {
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: -0.28px;
}
