.chocoisloved-section {
  box-sizing: border-box;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 72px;

  @media screen and (min-width: 768px) {
    margin-bottom: 100px;
  }

  @media screen and (min-width: 1200px) {
    margin-bottom: 128px;
  }
}

.reviews-container {
  min-width: 375px;
  margin: 0 auto;

  @media screen and (min-width: 768px) {
    max-width: 768px;
    padding: 0 32px;
  }

  @media screen and (min-width: 1200px) {
    max-width: 1200px;
    padding: 0 32px;
  }
}

.swiper .swiper-wrapper.reviews-content {
  gap: 2px;

  @media screen and (min-width: 768px) {
    gap: 7px;
  }

  @media screen and (min-width: 1200px) {
    gap: 1px;
  }
}

.products-title {
  text-align: center;
  color: #fd9222;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: -3%;
  text-transform: uppercase;
  padding-bottom: 50px;
}

.products-title span {
  color: #111;
}

.card {
  margin: 0 auto;
  box-sizing: border-box;
  border-radius: 20px;
  height: 242px;
  width: 335px;

  @media screen and (min-width: 768px) {
    height: 242px;
    width: 344px;
  }

  @media screen and (min-width: 1200px) {
    height: 242px;
    width: 360px;
  }
}

.card .card-content {
  margin: 0 auto;
  box-sizing: border-box;
  border-radius: 20px;
  height: 242px;
  width: 335px;

  @media screen and (min-width: 768px) {
    height: 242px;
    width: 344px;
  }

  @media screen and (min-width: 1200px) {
    height: 242px;
    width: 360px;
  }
}

section .card .image img {
  height: 80px;
  width: 80px;
  position: absolute;
  top: 0;
  left: 130px;
  object-fit: cover;
  border-radius: 50%;

  // @media screen and (min-width: 768px) {
  //   top: 0;
  //     left: 130px;

  //   }
  //   @media screen and (min-width: 1200px) {
  //     top: 0;
  //       left: 130px;
  //   }
}

.box1 {
  margin: 0 auto;
  box-sizing: border-box;
  position: relative;
  border-radius: 20px;

  height: 242px;
  width: 335px;

  @media screen and (min-width: 768px) {
    height: 242px;
    width: 344px;
  }

  @media screen and (min-width: 1200px) {
    height: 242px;
    width: 360px;
  }
}

.box2 {
  margin: 0 auto;
  box-sizing: border-box;
  position: absolute;
  width: 335px;
  height: 200px;

  bottom: 0;
  border-radius: 20px;
  background: #fff;
  z-index: -1;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);

  @media screen and (min-width: 768px) {
    height: 200px;
    width: 344px;
  }

  @media screen and (min-width: 1200px) {
    height: 200px;
    width: 360px;
  }
}

.card .name-profession {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.name-profession .name {
  box-sizing: border-box;
  margin: 0;
  padding-top: 60px;
  color: #111;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
}

.name-profession .comment {
  box-sizing: border-box;
  padding-top: 24px;

  color: #111;
  font-size: 12px;
  font-style: normal;
  line-height: 14px;
  letter-spacing: -2%;
}

.swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: #fd9222;
  border-radius: 100px;
  width: 28px;
  height: 13px;
}

.swiper-pagination-bullet {
  width: 13px;
  height: 13px;
}

.review-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto auto;
  color: var(--white);
  background-color: transparent;
  padding: 12px 28px;
  border: 1px solid #fd9222;
  border-radius: 100px;
  font-family: inherit;
  font-size: 14px;
  font-weight: 600;
  color: #111;
  cursor: pointer;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and (min-width: 768px) {
    padding: 14px 40px;
  }
}

.review-btn:hover,
.review-btn:focus {
  color: #fff;
  border: 1px solid var(--orange);
  background-color: #fd9222;
}

// .swiper {
//   margin-bottom: 128px;
// }
