:root {
  --primarycolor: #1e1823;
  --orange: #fd9222;
  --whitecolor: #fff;
  --hovercolor: #fcf1e0;
  --modalbackground: rgba(0, 0, 0, 0.1);
  --lightgray: rgba(64, 64, 64, 0.3);
  --modalbg: #fafafa;
}

body {
  color: var(--whitecolor);
}

.subscribe-container {
  width: 1200px;
  max-width: 100%;
  margin: 0 auto;
  padding-left: 32px;
  padding-right: 32px;
}

.herosub {
  background-image: url(../images/Subcribe-d.jpg);
  background-size: auto;
  background-position: center, center;
  background-repeat: no-repeat, no-repeat;
  text-align: center;
  padding-top: 72px;
  padding-bottom: 72px;

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url(../images/Subcribe-d2x.jpg);
  }
}

.subhero-title {
  font-size: 24px;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 24px;
}

.sub-description {
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0.05em;
  margin-bottom: 24px;
}

.sub {
  background-color: var(--orange);
  color: var(--whitecolor);
  font-size: 18px;
  font-weight: 600;
  padding: 14px 44px;
  border: 1px solid transparent;
  border-radius: 100px;
  transition: background-color 500ms ease-in-out, color 500ms ease-in-out;
}

.sub {
  background-color: var(--orange);
  color: var(--whitecolor);
  font-size: 18px;
  font-weight: 600;
  padding: 14px 44px;
  border: 1px solid transparent;
  border-radius: 100px;
  transition: background-color 500ms ease-in-out, color 500ms ease-in-out;
}

.sub:hover,
.sub:focus {
  color: var(--orange);
  background-color: var(--hovercolor);
}
