:root {
  --primarycolor: #1e1823;
  --orange: #fd9222;
  --whitecolor: #fff;
  --hovercolor: #fcf1e0;
  --black: rgba(0, 0, 0, 0.1);
  --lightgray: rgba(64, 64, 64, 0.3);
  --modalbg: #fafafa;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

html {
  box-sizing: border-box;
}

/*CSS Reset*/

body {
  color: var(--whitecolor);
}

.herosub {
  background-image: url(../images/subscribe-m.jpg);
  background-size: cover;
  background-position: center, center;
  background-repeat: no-repeat, no-repeat;
  text-align: center;

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url(../images/subscribe-m2x.jpg);
  }
}

.subhero-title {
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.sub {
  background-color: var(--orange);
  color: var(--whitecolor);
  font-size: 18px;
  font-weight: 600;
  padding: 14px 44px;
  margin-top: 24px;
  border: 1px solid transparent;
  border-radius: 100px;
  transition: background-color 500ms ease-in-out, color 500ms ease-in-out;
}

.sub {
  background-color: var(--orange);
  color: var(--whitecolor);
  font-size: 18px;
  font-weight: 600;
  padding: 14px 44px;
  border: 1px solid transparent;
  border-radius: 100px;
  cursor: pointer;
  transition: background-color 500ms ease-in-out, color 500ms ease-in-out;
}

.sub:hover,
.sub:focus {
  color: var(--orange);
  background-color: var(--hovercolor);
}

// .titlesub {
//   font-size: 28px;
//   font-weight: 500;
//   line-height: 34px;
//   letter-spacing: -0.56px;
//   margin-right: 0;
//   margin-bottom: 32px;
// }

// .des {
//   font-family: 'Montserrat';
//   color: var(--orange);
// }

// .reference {
//   margin-bottom: 14px;
// }

// .team-icon {
//   transition: stroke 250ms ease-in-out;
// }

// .team-icon:hover,
// .team-icon:focus {
//   stroke: var(--orange);
// }

// .line {
//   fill: currentColor;
// }

// .line {
//   background-color: rgba(255, 255, 255, 0.1);
//   margin-top: 32px;
//   margin-bottom: 24px;
//   width: 392px;
// }

// .bottom {
//   display: block;
//   flex-direction: column;
//   gap: 18px 0;
// }

// .bottom .item {
//   font-size: 14px;
//   font-style: normal;
//   font-weight: 500;
//   line-height: 16px;
//   letter-spacing: -0.28px;
//   margin-bottom: 18px;
// }

// .bottom.item:last-of-type {
//   margin-bottom: 0;
// }

// .subbackdrop {
//   position: fixed;
//   top: 0;
//   left: 0;
//   width: 100%;
//   height: 100%;
//   background-color: var(--black);
//   opacity: 1;
//   transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
// }

// .modal {
//   position: absolute;
//   top: 40%;
//   left: 50%;
//   width: 311px;
//   height: 350px;
//   background-color: var(--modalbg);
//   box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
//     0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0);
//   border-radius: 15px;

//   transform: translate(-50%, -50%) scale(1);
//   transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
// }

// .subbackdrop.is-hidden .modal {
//   transform: translate(-50%, -50%) scale(0);
// }

// .is-hidden {
//   visibility: none;
//   opacity: 0;
//   pointer-events: none;
// }

// .subscribe-modal-bg {
//   background-image: url(../images/modal-bg.jpg);
//   background-size: cover;
//   background-position: center, center;
//   background-repeat: no-repeat, no-repeat;
//   width: 311px;
//   height: 169px;
//   border-radius: 15px 15px 0px 0px;
// }

// .any {
//   display: flex;
// }

// .subscribe-modal-header {
//   color: var(--primarycolor);
//   font-family: 'Monesserrat';
//   font-size: 20px;
//   font-weight: 600;
//   line-height: 24px;
//   padding: 32px 24px 20px 24px;
// }

// .newc {
//   color: var(--orange);
// }

// .cont {
//   display: inline-flex;
//   padding-left: 40px;
// }

// .subscribe-modal-email {
//   display: flex;
//   gap: 8px;
//   outline: none;
//   border: 1.5px solid transparent;
//   margin-left: 20px;
// }

// .form-input {
//   display: flex;
//   align-items: flex-start;
//   justify-content: flex-start;
//   width: 263px;
//   height: 45px;
//   font-size: 14px;
//   font-weight: 400px;
//   padding: 14px 18px;
//   border: 1.5px solid var(--lightgray);
//   border-radius: 30px;
// }

// .modal-button {
//   color: var(--whitecolor);
//   background-color: var(--orange);
//   font-size: 14px;
//   font-weight: 600;
//   width: 100px;
//   height: 45px;
//   border: 1px solid transparent;
//   border-radius: 50px;
//   transition: background-color 600ms ease-in-out, color 300ms ease-in-out;
//   margin-left: -105px;
// }

// .modal-button:hover,
// .modal-button:focus {
//   color: var(--orange);
//   background-color: var(--hovercolor);
// }

// .modal-close {
//   width: 24px;
//   height: 24px;
//   position: relative;
//   top: -300px;
//   right: -270px;
//   padding: 0px;
//   background-color: transparent;
// }

// .modal-close {
//   fill: currentColor;
// }

// .modal-close {
//   color: var(--whitecolor);
//   background-color: transparent;
//   border: transparent;
// }

.subscribe-container {
  padding: 62px 20px 63px 20px;
  margin: 0 auto;
  min-width: 375px;
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: 768px) {
    margin-top: 0 auto;
    padding: 72px 151px 72px 150px;
  }

  @media screen and (min-width: 1200px) {
    display: block;
    justify-content: center;
    justify-items: center;
    margin-top: 0 auto;
    // padding: 72px 367px 72px 366px;
  }
}

.herosub {
  background-image: url(../images/subscribe-t.jpg);
  background-size: cover;
  background-position: center, center;
  background-repeat: no-repeat, no-repeat;
  text-align: center;

  margin: 0 auto;

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url(../images/subscribe-t2x.jpg);
  }
}

// .modal {
//   position: absolute;
//   top: 40%;
//   left: 50%;
//   width: 533px;
//   height: 428px;
//   background-color: var(--modalbg);
//   box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
//     0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0);
//   border-radius: 15px;

//   transform: translate(-50%, -50%) scale(1);
//   transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
// }

// .subbackdrop.is-hidden .modal {
//   transform: translate(-50%, -50%) scale(0);
// }

// .is-hidden {
//   visibility: none;
//   opacity: 0;
//   pointer-events: none;
// }

// .subscribe-modal-bg {
//   background-image: url(../images/modal-bg.jpg);
//   width: 533px;
//   height: 196px;
//   border-radius: 15px 15px 0px 0px;
// }

// .modal-cont .any {
//   display: flex;
// }

// .subscribe-modal-header {
//   color: var(--primarycolor);
//   font-size: 24px;
//   font-weight: 800;
//   line-height: 28px;
//   display: block;
//   align-items: flex-start;
//   justify-content: flex-start;
//   padding: 40px 40px;
// }

// .newc {
//   color: var(--orange);
// }

// .subscribe-form-cont {
//   display: inline-flex;
// }

// .subscribe-modal-email {
//   display: flex;
//   gap: 8px;
//   outline: none;
//   border: 1.5px solid transparent;
//   margin-left: 0;
//   margin-right: 0;
// }

// .form-input {
//   width: 313px;
//   height: 52px;
//   font-size: 18px;
//   font-weight: 400px;
//   padding: 14px 24px;
//   border: 1.5px solid var(--lightgray);
//   border-radius: 30px;
//   outline: none;
// }

// .modal-button {
//   color: var(--whitecolor);
//   background-color: var(--orange);
//   font-size: 14px;
//   font-weight: 600;
//   width: 137px;
//   height: 52px;
//   border: 1px solid transparent;
//   border-radius: 50px;
//   transition: background-color 600ms ease-in-out, color 300ms ease-in-out;
//   margin-left: 0;
// }

// .modal-button:hover,
// .modal-button:focus {
//   color: var(--orange);
//   background-color: var(--hovercolor);
// }

// .modal-close {
//   position: absolute;
//   top: 24px;
//   right: 22px;
//   padding: 0px;
//   width: 28px;
//   height: 28px;
// }

// .modal-close {
//   fill: currentColor;
// }

// .modal-close {
//   color: var(--whitecolor);
//   background-color: transparent;
//   border: transparent;
// }

// body {
//   font-family: 'Montserrat';
//   letter-spacing: -0.28px;
//   font-size: 14px;
//   color: var(--whitecolor);
// }

.herosub {
  background-image: url(../images/Subscribe-d.jpg);
  background-size: cover;
  background-position: center, center;
  background-repeat: no-repeat, no-repeat;
  text-align: center;

  margin: 0 auto;

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url(../images/Subscribe-d2x.jpg);
  }
}

.subhero-title {
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 24px;
}

.description {
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.28px;
  margin: 0 auto;
  width: 326px;

  @media screen and (min-width: 768px) {
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.2;
    letter-spacing: -0.28px;
    width: 467px;
  }
}

// .sub {
//   background-color: var(--orange);
//   color: var(--whitecolor);
//   font-size: 18px;
//   font-weight: 600;
//   padding: 14px 44px;
//   border: 1px solid transparent;
//   border-radius: 100px;
//   transition: background-color 500ms ease-in-out, color 500ms ease-in-out;
// }

// .sub:hover,
// .sub:focus {
//   color: var(--orange);
//   background-color: var(--hovercolor);
// }

// .titlesub {
//   font-family: 'Montserrat';
//   font-size: 28px;
//   font-weight: 500;
//   line-height: 34px;
//   letter-spacing: -0.56px;
//   margin-right: 543px;
//   margin-bottom: 62px;
// }

// .des {
//   font-family: 'Montserrat';
//   color: var(--orange);
// }

// .block {
//   display: flex;
//   flex-direction: row;
// }

// .reference {
//   margin-bottom: 14px;
// }

// .team-icon {
//   transition: stroke 250ms ease-in-out;
// }

// .team-icon:hover,
// .team-icon:focus {
//   stroke: var(--orange);
// }

// .line {
//   fill: currentColor;
// }

// .line {
//   background-color: rgba(255, 255, 255, 0.1);
//   margin-bottom: 24px;
//   width: 1136px;
//   margin-top: 0;
// }

// .bottom {
//   display: flex;
//   flex-direction: row;
//   gap: 24px;
// }

// .bottom .item {
//   font-size: 14px;
//   font-style: normal;
//   font-weight: 500;
//   line-height: 16px;
//   letter-spacing: -0.28px;
// }

// .subbackdrop {
//   position: fixed;
//   top: 0;
//   left: 0;
//   width: 100%;
//   height: 100%;
//   background-color: var(--black);
//   opacity: 1;
//   transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
// }

// .modal {
//   position: absolute;
//   top: 50%;
//   left: 50%;
//   width: 533px;
//   height: 428px;
//   background-color: var(--modalbg);
//   box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
//     0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0);
//   border-radius: 15px;

//   transform: translate(-50%, -50%) scale(1);
//   transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
// }

// .subbackdrop.is-hidden .modal {
//   transform: translate(-50%, -50%) scale(0);
// }

// .is-hidden {
//   visibility: none;
//   opacity: 0;
//   pointer-events: none;
// }

// .subscribe-modal-bg {
//   background-image: url(../images/modal-bg.jpg);
//   width: 533px;
//   height: 196px;
//   border-radius: 15px 15px 0px 0px;
// }

// .modal-cont .any {
//   display: flex;
// }

// .subscribe-modal-header {
//   color: var(--primarycolor);
//   font-size: 24px;
//   font-weight: 800;
//   line-height: 28px;
//   display: block;
//   align-items: flex-start;
//   justify-content: flex-start;
//   padding: 40px 40px;
// }

// .newc {
//   color: var(--orange);
// }

// .subscribe-modal-email {
//   display: flex;
//   gap: 8px;
//   outline: none;
//   border: 1.5px solid transparent;
//   margin-left: 0;
//   margin-right: 0;
// }

// .form-input {
//   width: 313px;
//   height: 52px;
//   font-size: 18px;
//   font-weight: 400px;
//   padding: 14px 24px;
//   border: 1.5px solid var(--lightgray);
//   border-radius: 30px;
//   outline: none;
// }

// .modal-button {
//   color: var(--whitecolor);
//   background-color: var(--orange);
//   font-size: 14px;
//   font-weight: 600;
//   width: 137px;
//   height: 52px;
//   border: 1px solid transparent;
//   border-radius: 50px;
//   transition: background-color 600ms ease-in-out, color 300ms ease-in-out;
//   margin-left: 0;
// }

// .modal-button:hover,
// .modal-button:focus {
//   color: var(--orange);
//   background-color: var(--hovercolor);
// }

// .modal-close {
//   position: absolute;
//   top: 24px;
//   right: 22px;
//   padding: 0px;
//   width: 28px;
//   height: 28px;
// }

// .modal-close {
//   fill: currentColor;
// }

// .modal-close-icon {
//   fill: var(--whitecolor);
//   background-color: transparent;
//   border: transparent;
// }
