.unique {
  padding: 72px 0;

  @media screen and (min-width: 768px) {
    padding: 100px 0;
  }
  @media screen and (min-width: 1200px) {
    padding: 128px 0;
  }
}

.unique-container {
  width: 100%;
  padding: 0 32px;
  margin: 0 auto;

  @media screen and (min-width: 768px) {
    width: 768px;
  }

  @media screen and (min-width: 1200px) {
    width: 1200px;
  }

  display: flex;
  flex-direction: column;
  align-items: center;
}

.unique-section-title {
  width: 283px;
  margin-bottom: 24px;

  /* desktop
    width: 411px;
    text-align: center;
    margin-bottom: 28px; */

  color: #111;
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  line-height: 24px; /* 120% */
  letter-spacing: -0.6px;
  text-transform: uppercase;

  @media screen and (min-width: 768px) {
    width: 411px;
    margin-bottom: 28px;
    font-size: 24px;
    line-height: 28px; /* 116.667% */
    letter-spacing: -0.72px;
  }
}

.unique-section-title span {
  color: #fd9222;
}

.first-section-title-desc {
  width: 335px;
  margin-bottom: 32px;
  color: #111;
  text-align: center;
  font-family: Montserrat;
  font-size: 14px;
  line-height: 18px; /* 128.571% */
  letter-spacing: -0.28px;

  /* width: 486px;
    text-align: center;
    margin-bottom: 50px; */

  @media screen and (min-width: 768px) {
    width: 486px;
    margin-bottom: 50px;
  }
}

.first-section-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  justify-content: center;
  gap: 20px;
  padding-left: 0;
  @media screen and (min-width: 768px) {
    gap: 32px;
  }
  @media screen and (min-width: 1200px) {
    gap: 19px;
    flex-wrap: nowrap;
  }
}

.first-section-list li {
  width: 335px;
  border-radius: 15px;
  padding-top: 28px;
  padding-left: 55px;
  padding-bottom: 71px;

  @media screen and (min-width: 1200px) {
    width: 270px;
    padding: 28px 36px 28px 28px;
  }

  /* desktop
    width: 270px;
    padding: 28px 36px 28px 28px;
    border-radius: 15px; */
}

.milk-card,
.semi-sweet-card {
  background-color: white;
  border: 1px solid #fd9222;
  overflow: hidden;
  position: relative;
}

.semi-sweet-card {
  @media screen and (min-width: 768px) {
    order: 2;
  }
  @media screen and (min-width: 1200px) {
    order: 4;
  }
}

.milk-card {
  @media screen and (min-width: 768px) {
    order: 3;
  }
  @media screen and (min-width: 1200px) {
    order: 2;
  }
}

.choco-card {
  background-color: orange;
  overflow: hidden;
  position: relative;

  @media screen and (min-width: 768px) {
    order: 1;
  }
}

.nuts-card {
  background: #1e1823;
  overflow: hidden;
  position: relative;
  @media screen and (min-width: 768px) {
    order: 4;
  }
  @media screen and (min-width: 1200px) {
    order: 3;
  }
}

.overlay h4 {
  color: #111;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.54px;
  text-transform: uppercase;
  margin-bottom: 8px;
}

.overlay button {
  border-radius: 35px;
  border: 1px solid #fd9222;
  background: #fafafa;
  padding: 6px 16px;
  cursor: pointer;

  color: #111;
  font-size: 10px;
  line-height: 12px; /* 120% */
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.overlay button:hover {
  background-color: #fd9222;
  color: #fff;
}

.overlay > .btn-overlay-colored {
  background: #fd9222;
  color: #fff;
}

.overlay > p {
  color: #111;
  margin-top: 14px;

  font-size: 14px;
  line-height: 18px; /* 128.571% */
  letter-spacing: -0.28px;

  width: 100%;
  display: -webkit-box;
  -webkit-line-clamp: 9;
  -webkit-box-orient: vertical;
  overflow: hidden;

  /* overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; */
}

.card-desc {
  position: absolute;
  bottom: 28px;
  left: 28px;

  color: #111;
  font-size: 14px;
  font-weight: 600;
  line-height: 18px; /* 128.571% */
  letter-spacing: -0.28px;
  text-transform: uppercase;

  @media screen and (min-width: 1200px) {
    position: static;
    margin-top: 36px;
  }
}

.nuts-card-title,
.choco-card-title {
  color: white;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  padding: 20px;

  transform: translatey(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-radius 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.card-link {
  text-decoration: none;
}
.card-link:hover .overlay,
.card-link:focus .overlay {
  transform: translatey(0);
  outline: none;
}

.nuts-card:hover .overlay,
.milk-card:hover .overlay,
.semi-sweet-card:hover .overlay,
.nuts-card:focus .overlay,
.milk-card:focus .overlay,
.semi-sweet-card:focus .overlay {
  transform: translatey(0);

  /* border-radius: 10px; */
}

.milk-card:hover,
.semi-sweet-card:hover {
  border: none;
  /* border-radius: 15px; */
}
