<div class="buynow hidden" data-buynow>
  <div class="buynow-modal">
    <button type="button" class="buynow-close" data-buynow-close>
      <svg class="buynow-icon" width="28" height="28">
        <use href="./images/buynow.svg#buynowclose"></use>
      </svg>
    </button>
    <p class="buynow-title"><span class="buy">BUY</span>NOW</p>
    <div class="bestbuy">
      <ul class="bestbuy-list list">
        <li class="buestbuy-item">
          <img
            srcset="./images/buy-item1.jpg 1x, ./images/buy-item1@2x.jpg 2x"
            src="images/buy-item1.jpg"
            alt="Chocolate Bar Kinder"
            width="120"
            height="107"
            class="bestbuy-image"
          />
          <button class="bestbuy-button">100 g</button>
        </li>
        <li class="buestbuy-item">
          <img
            srcset="./images/buy-item2.jpg 1x, ./images/buy-item2@2x.jpg 2x"
            src="images/buy-item2.jpg"
            alt="Chocolate Bar Kinder"
            width="120"
            height="107"
            class="bestbuy-image"
          />
          <button class="bestbuy-button">200 g</button>
        </li>
        <li class="buestbuy-item">
          <img
            srcset="./images/buy-item3.jpg 1x, ./images/buy-item3@2x.jpg 2x"
            src="images/buy-item3.jpg"
            alt="Chocolate Bar Kinder"
            width="120"
            height="111"
            class="bestbuy-image"
          />
          <button class="bestbuy-button">300 g</button>
        </li>
      </ul>
    </div>
    <form name="form-buynow">
      <div class="perosnal-wrapper">
        <label class="personal-field"
          ><span class="buynow-label">Personal information</span>
          <input
            class="buynow-personal"
            type="text"
            name="buynow-name"
            autofocus
            placeholder="Name"
            required
          />
          <input
            class="buynow-personal"
            type="text"
            name="buynow-surname"
            placeholder="Surname"
            required
          />
        </label>
      </div>
      <label class="buynow-field"
        ><span class="buynow-label">Email</span>
        <input
          class="buynow-input"
          type="email"
          name="buynow-email"
          placeholder="Enter your email"
          required
        />
      </label>
      <label class="buynow-field"
        ><span class="buynow-label">Phone number</span>
        <input
          class="buynow-phone"
          type="tel"
          name="buynow-phone"
          placeholder="Phone number"
          required
        />
        <div class="phone-wrapper">
          <svg class="flag-icon" width="32" height="24">
            <use href="./images/buynow.svg#buynowflag"></use>
          </svg>
          <p class="code">+380</p>
        </div>
      </label>
      <label class="buynow-field"
        ><span class="buynow-label">Card number</span>
        <input
          class="buynow-input"
          type="number"
          name="buynow-card"
          placeholder="Enter card"
          required
        />
        <svg class="buynow-card" width="30" height="18">
          <use href="./images/buynow.svg#buynowcard"></use>
        </svg>
      </label>
      <label class="buynow-comment"
        ><span class="buynow-label">Comment</span>
        <textarea
          class="buynow-textarea"
          name="buynow-comment"
          rows="4"
          placeholder="Enter text"
          required
        ></textarea>
      </label>
      <button class="submit-button" type="submit" data-buynow-close>
        Submit
      </button>
    </form>
  </div>
</div>
