<section class="footer" id="footer-id">
  <div class="footer-container">
    <!--footer main-->
    <div class="footer-main">
      <div class="block">
        <h1 class="footer-caption">
          <span class="caption-highlight">Chocolate</span> a delicious<br />
          cure for a bad day
        </h1>
      </div>

      <!--contacts-->
      <div class="contacts-icons-container">
        <div class="footer-contacts">
          <p class="contacts-title">Contact us</p>
          <ul class="footer-contacts-menu list">
            <li class="item">
              <a href="tel:+380684439426" class="contact link"
                >+380 (68) 443-94-26</a
              >
            </li>
            <li class="item">
              <a href="mailto:simplychoc@gmail.com" class="contact link"
                >simplychoc@gmail.com</a
              >
            </li>
          </ul>
        </div>

        <!--icons-->
        <div class="social-icons-container">
          <ul class="social-footer list">
            <li class="icon-item">
              <a
                class="link"
                href="https://instagram.com/"
                target="_blank"
                rel="noopener noreferrer"
                aria-label="Link to Instagram"
                ><svg class="footer-icon" width="24" height="24">
                  <use href="./images/footer.svg#instagram"></use>
                </svg>
              </a>
            </li>
            <li class="icon-item">
              <a
                class="link"
                href="https://twitter.com/"
                target="_blank"
                rel="noopener noreferrer"
                aria-label="Link to Twitter"
                ><svg class="footer-icon" width="24" height="24">
                  <use href="./images/footer.svg#twitter"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <hr class="divider" />

    <!--footer navigation-->
    <ul class="bottom list">
      <li class="item"><a class="link" href="#">Home</a></li>
      <li class="item">
        <a class="link" href="#howitsmade__id">How it is made?</a>
      </li>
      <li class="item">
        <a class="link" href="#ourproducts__id">Our products</a>
      </li>
      <li class="item"><a class="link" href="#top_sellers">Top sellers</a></li>
      <li class="item">
        <a class="link" href="#chocolate-id">Chocolate is loved</a>
      </li>
    </ul>
  </div>
</section>
