<footer class="footer">
  <div class="container">
    <!--footer main-->
    <div class="footer-main">
      <!--footer1-->
      <div class="block">
        <h1 class="titlesub">
          <span class="des">Chocolate</span> a delicious<br />
          cure for a bad day
        </h1>
      </div>
      <!--footer2-->
      <div footer-block>
        <p class="reference">Contact us</p>
        <ul class="footer-contacts-menu list">
          <li class="item">
            <a href="tel:+380684439426" class="contact link"
              >+380 (68) 443-94-26</a
            >
          </li>
          <li class="item">
            <a href="mailto:simplychoc@gmail.com" class="contact link"
              >simplychoc@gmail.com</a
            >
          </li>
        </ul>
      </div>
      <!--footer3-->
      <div>
        <ul class="social-footer list">
          <li class="icon-item">
            <a
              class="link"
              href="https://instagram.com/"
              target="_blank"
              rel="noopener noreferrer"
              aria-label="Link to Instagram"
              ><svg class="team-icon" width="24" height="24">
                <use href="./images/icons.svg#instagram"></use>
              </svg>
            </a>
          </li>
          <li class="icon-item">
            <a
              class="link"
              href="https://twitter.com/"
              target="_blank"
              rel="noopener noreferrer"
              aria-label="Link to Twitter"
              ><svg class="team-icon" width="24" height="24">
                <use href="./images/icons.svg#twitter"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <svg class="line" width="1136" height="1">
      <use href="./images/icons.svg#line"></use>
    </svg>
    <!--bottom footer-->
    <ul class="bottom list">
      <li class="item">Home</li>
      <li class="item">
        <a class="link" href="#">How it is made?</a>
      </li>
      <li class="item">Our products</li>
      <li class="item">Top sellers</li>
      <li class="item">Chocolate is loved</li>
    </ul>
  </div>
</footer>
