<header class="page-header">
  <div class="header-container">
    <nav class="navigation">
      <p class="logo">SIMPLY CHOCOLATE</p>
      <svg width="24" height="24">
        <use href="./images/header.svg#logo-icon"></use>
      </svg>
      <ul class="nav-menu list">
        <li class="item"><a class="link" href="#">Home</a></li>
        <li class="item"><a class="link" href="#">How it's made?</a></li>
        <li class="item"><a class="link" href="#">Our Products</a></li>
        <li class="item"><a class="link" href="#">Top sellers</a></li>
        <li class="item"><a class="link" href="#">Chocolate is loved</a></li>
      </ul>
    </nav>

    <ul class="social-contacts list">
      <li class="item">
        <svg width="24" height="24">
          <use href="./images/header.svg#instagram-icon"></use>
        </svg>
      </li>
      <li class="item">
        <svg width="24" height="24">
          <use href="./images/header.svg#twitter-icon"></use>
        </svg>
      </li>
    </ul>

    <button
      class="menu-toggle js-open-menu"
      aria-expanded="false"
      aria-controls="mobile-menu"
    >
      <svg class="menu-icon" width="32" height="32">
        <use href="./images/header.svg#hamburger-open-icon"></use>
      </svg>
    </button>

    <!-- Hamburger Menu Close Icon and Navigations-->
    <div class="menu-container js-menu-container" id="mobile-menu">
      <!-- Hamburger Menu Close Icon-->
      <button class="menu-toggle js-close-menu">
        <svg width="8" height="8">
          <use href="./images/header.svg#hamburger-close-icon"></use>
        </svg>
      </button>
    </div>
  </div>
</header>
