<header class="page-header">
  <div class="header-container">
    <nav class="navigation">
      <p class="logo">SIMPLY CHOCOLATE</p>
      <svg width="24" height="24">
        <use href="./images/header.svg#logo-icon"></use>
      </svg>
      <ul class="nav-menu list">
        <li class="item"><a class="link" href="#">Home</a></li>
        <li class="item">
          <a class="link" href="#howitsmade__id">How it's made?</a>
        </li>
        <li class="item">
          <a class="link" href="#ourproducts__id">Our Products</a>
        </li>
        <li class="item">
          <a class="link" href="#top_sellers">Top sellers</a>
        </li>
        <li class="item">
          <a class="link" href="#chocolate-id">Chocolate is loved</a>
        </li>
      </ul>
    </nav>

    <ul class="social-contacts list">
      <li class="item">
        <svg width="24" height="24">
          <use href="./images/header.svg#instagram-icon"></use>
        </svg>
      </li>
      <li class="item">
        <svg width="24" height="24">
          <use href="./images/header.svg#twitter-icon"></use>
        </svg>
      </li>
    </ul>

    <svg class="menu-icon menu-toggle js-open-menu" width="32" height="32">
      <use href="./images/header.svg#hamburger-open-icon"></use>
    </svg>

    <!-- Hamburger Menu Close Icon and Navigations-->
    <div class="menu-container js-menu-container" id="mobile-menu">
      <!-- Hamburger Menu Close Icon-->
      <svg width="14" height="14" class="menu-toggle js-close-menu">
        <use href="./images/header.svg#hamburger-close-icon"></use>
      </svg>

      <ul class="mobile-nav-menu">
        <li class="item">
          <a class="hamburger-link" href="#">Home</a>
        </li>
        <li class="item">
          <a class="hamburger-link" href="#howitsmade__id">How it's made?</a>
        </li>
        <li class="item">
          <a class="hamburger-link" href="#ourproducts__id">Our Products</a>
        </li>
        <li class="item">
          <a class="hamburger-link" href="#top_sellers">Top sellers</a>
        </li>
        <li class="item">
          <a class="hamburger-link" href="#chocolate-id">Chocolate is loved</a>
        </li>
      </ul>

      <ul class="mobile-social">
        <li class="item">
          <a
            href="https://www.instagram.com"
            target="_blank"
            rel="noreferrer noopener"
            ><svg width="24" height="24" class="mobile-social-svg">
              <use href="./images/footer.svg#instagram"></use>
            </svg>
          </a>
        </li>
        <li class="item">
          <a
            href="https://www.twitter.com"
            target="_blank"
            rel="noreferrer noopener"
            ><svg width="24" height="24" class="mobile-social-svg">
              <use href="./images/footer.svg#twitter"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>
</header>
