<section class="hero">
  <div class="container menu">
    <h1 class="hero-title">
      Treat yourself or a loved one to our finest ingredients for a moment of
      pure delight!
    </h1>
    <div class="button-wrapper">
      <button type="button" class="button buy-button">Buy now</button>
      <button type="button" class="button made-button">How it's made</button>
    </div>
    <div class="scroll-wrapper">
      <p class="scroll-title">scroll down</p>
      <button type="button" class="scroll-button">
        <svg class="scroll-icon" width="22" height="22">
          <use href="./images/hero.svg#scroll"></use>
        </svg>
      </button>
    </div>
  </div>
</section>
