<section>
  <div class="container">
    <h2 class="section-title first-section-title">
      IT ALL ADDS UP TO ONE EXCEPTIONAL <span>TASTE</span> SENSATION
    </h2>
    <p class="first-section-title-desc">
      At Simply Chocolate, we believe that the secret to exceptional chocolate
      is in the details. From the sourcing of the finest ingredients to the
      careful crafting of each individual piece, every step of our process adds
      up to one exceptional taste sensation.
    </p>
    <ul class="first-section-list">
      <li class="choco-card">
        <img src="./images/chocolate-removebg.jpg" alt="Milk Chocolate Image" />
        <p class="card-desc">Milk Chocolate</p>
        <div class="overlay">
          <h4>Milk chocolate</h4>
          <button class="btn-overlay-colored">chocolate</button>
          <button>the benefits</button>
          <p>
            Milk chocolate is a solid chocolate confectionery containing cocoa,
            sugar and milk. It is the most consumed type of chocolate. Chocolate
            was originally sold and consumed as a beverage in pre-Columbian
            times. Although four-fifths of all milk chocolate is sold in the
            United States and Europe.
          </p>
        </div>
      </li>
      <li class="milk-card">
        <img src="./images/milk-removebg.jpg" alt="Milk Image" />
        <p class="card-desc">Milk</p>
        <div class="overlay">
          <h4>Milk</h4>
          <button class="btn-overlay-colored">milk</button>
          <button>the benefits</button>

          <p>
            Milk is a white liquid food produced by the mammary glands of
            mammals. It is the primary source of nutrition for young mammals
            (including breastfed human infants) before they are able to digest
            solid food.Early-lactation milk, which is called colostrum, contains
            antibodies that strengthen the immune system.
          </p>
        </div>
      </li>
      <li class="nuts-card">
        <img src="./images/nuts-removebg.jpg" alt="Nuts Image" />
        <p class="card-desc nuts-card-title">Nuts</p>
        <div class="overlay">
          <h4>nuts</h4>
          <button class="btn-overlay-colored">nuts</button>
          <button>the benefits</button>
          <p>
            Almonds, pistachios, and walnuts are some types of nuts that contain
            healthy nutrients. When eaten as part of a nutrient-dense diet,
            these 9 nuts may offer benefits such as reducing your risk of heart
            disease. They’re a good source of fiber, healthy fats, and plant
            protein. Plus, they’re great on their own.
          </p>
        </div>
      </li>
      <li class="semi-sweet-card">
        <img
          src="./images/semi-sweet-chocolate-removebg.jpg"
          alt="Semi Sweet Chocolate Image"
        />
        <p class="card-desc">Semi Sweet Chocolate</p>
        <div class="overlay">
          <h4>semi-sweet chocolate</h4>
          <button class="btn-overlay-colored">chocolate</button>
          <button>the benefits</button>
          <p>
            Semi-sweet chocolate has a cocoa solid content of 35 to 65%. One of
            the best ways to gain an understanding of this type of chocolate is
            to compare it to a different type of chocolate. Semisweet is darker
            than milk chocolate. In a taste comparison, it has a slightly bitter
            taste whereas milk chocolate is sweeter and more mellow.
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>
