<section class="products-section">
    <div class="products-container products-wrapper" >
            <h2 class="products-title">
               Our <span>Products</span>
            </h2>   
                <ul class="products list">
                    <li class="products-list">
                        <img src="./images/orangechocolate.jpg" alt="Orange Dark Chocolate" height="230px" width="201px">
                        <h3 class="products-list-title">
                            ORANGE
                        </h3>
                        <p class="products-list-description">
                            Dark Chocolate
                        </p>
                        <button type="button" class="products-button">
                            45 UAH
                        </button>
                    </li>
                    <li class="products-list">
                        <img src="./images/apple&cranberrychocolate.jpg" alt="Apple&Cranberry Chocolate" height="230px" width="201px">
                        <h3 class="products-list-title">
                            APPLE&CRANBERRY
                        </h3>
                        <p class="products-list-description">
                            Milk chocolate
                        </p>
                        <button type="button" class="products-button">
                            50 UAH
                        </button>
                    
                    </li>
                    <li class="products-list">
                        <img src="./images/lime&seasaltchocolate.jpg" alt="LIME&SEA SALT Chocolate" height="230px" width="201px">
                        <h3 class="products-list-title">
                            LIME&SEA SALT
                        </h3>
                        <p class="products-list-description">
                            Dark Chocolate
                        </p>
                        <button type="button" class="products-button">
                            66 UAH
                        </button>
                    
                    </li>
                    <li class="products-list">
                        <img src="./images/pineapplechocolate.jpg" alt="Pineapple Chocolate" height="230px" width="201px">
                        <h3 class="products-list-title">
                            PINEAPPLE
                        </h3>
                        <p class="products-list-description">
                            Dark Chocolate
                        </p>
                        <button type="button" class="products-button">
                            54 UAH
                        </button>
                    
                    </li>
                    <li class="products-list">
                        <img src="./images/classicmilkchocolate.jpg" alt="Classic Milk Chocolate" height="230px" width="201px">
                        <h3 class="products-list-title">
                            CLASSIC
                        </h3>
                        <p class="products-list-description">
                            Milk Chocolate
                        </p>
                        <button type="button" class="products-button">
                            45 UAH
                        </button>
                    
                    </li>
                    <li class="products-list">
                        <img src="./images/honeychocolate.jpg" alt="Honey Chocolate" height="230px" width="201px">
                        <h3 class="products-list-title">
                            HONEY
                        </h3>
                        <p class="products-list-description">
                            Milk Chocolate
                        </p>
                        <button type="button" class="products-button">
                            50 UAH
                        </button>
                    
                    </li>
                    <li class="products-list">
                        <img src="./images/roastedfruitschocolate.jpg" alt="Roasted Fruits Chocolate" height="230px" width="201px">
                        <h3 class="products-list-title">
                            ROASTED FRUITS
                        </h3>
                        <p class="products-list-description">
                            Dark Chocolate
                        </p>
                        <button type="button" class="products-button">
                            66 UAH
                        </button>
                    
                    </li>
                    <li class="products-list">
                        <img src="./images/classicwhitechocolate.jpg" alt="Alassic White Chocolate" height="230px" width="201px">
                        <h3 class="products-list-title">
                            CLASSIC
                        </h3>
                        <p class="products-list-description">
                            Milk Chocolate
                        </p>
                        <button type="button" class="products-button">
                            54 UAH
                        </button>
                    
                    </li>

                </ul>

    </div>
</section>