<section class="products-section">
        <div class="products-container"> 
        
                <h2 class="products-title">
                    Our <span>Products</span>
                </h2>
          
            <!-- products/swiper -->   
            <div class="swiper product-slider">     
                <div class="swiper-wrapper">
                    <!-- products-list -->
                    <div class="swiper-slide">
                        <div class="img_box">
                            <img src="./images/orangechocolate.jpg" alt="Orange Dark Chocolate" height="201px" width="230px">
                        </div>
                            <div class="products-detail">
                            <h3 class="products-list-title">
                                ORANGE
                            </h3>
                            <p class="products-list-description">
                                Dark Chocolate
                            </p>
                            <button type="button" class="products-button">
                                45 UAH
                            </button>
                            </div>    
                    </div>
                    <div class="swiper-slide">
                        <div class="img_box">
                            <img src="./images/apple&cranberrychocolate.jpg" alt="Apple&Cranberry Chocolate" height="201px" width="230px">
                        </div>
                            <div class="products-detail">
                                <h3 class="products-list-title">
                                    APPLE&CRANBERRY
                                </h3>
                                <p class="products-list-description">
                                    Milk chocolate
                                </p>
                                <button type="button" class="products-button">
                                    50 UAH
                                </button>
                            </div>  
                    </div>
                    <div class="swiper-slide">
                        <div class="img_box">
                            <img src="./images/lime&seasaltchocolate.jpg" alt="LIME&SEA SALT Chocolate" height="201px" width="230px">
                        </div>
                            <div class="products-detail">
                                <h3 class="products-list-title">
                                    LIME&SEA SALT
                                </h3>
                                <p class="products-list-description">
                                    Dark Chocolate
                                </p>
                                <button type="button" class="products-button">
                                    66 UAH
                                </button>
                            </div>
                        
                    </div>
                    <div class="swiper-slide">
                        <div class="img_box">
                            <img src="./images/pineapplechocolate.jpg" alt="Pineapple Chocolate" height="201px" width="230px">
                        </div>
                            <div class="products-detail">
                                <h3 class="products-list-title">
                                    PINEAPPLE
                                </h3>
                                <p class="products-list-description">
                                    Dark Chocolate
                                </p>
                                <button type="button" class="products-button">
                                    54 UAH
                                </button>
                            </div>
                        
                    </div>
                    <div class="swiper-slide">
                        <div class="img_box">
                            <img src="./images/classicmilkchocolate.jpg" alt="Classic Milk Chocolate" height="201px" width="230px">
                        </div>
                            <div class="products-detail">
                                <h3 class="products-list-title">
                                    CLASSIC
                                </h3>
                                <p class="products-list-description">
                                    Milk Chocolate
                                </p>
                                <button type="button" class="products-button">
                                    45 UAH
                                </button>
                            </div>
                        
                    </div>
                    <div class="swiper-slide">
                        <div class="img_box">
                            <img src="./images/honeychocolate.jpg" alt="Honey Chocolate" height="201px" width="230px">
                        </div>
                            <div class="products-detail">
                                <h3 class="products-list-title">
                                    HONEY
                                </h3>
                                <p class="products-list-description">
                                    Milk Chocolate
                                </p>
                                <button type="button" class="products-button">
                                    50 UAH
                                </button>
                            </div>

                    </div>
                    <div class="swiper-slide">
                        <div class="img_box">
                            <img src="./images/roastedfruitschocolate.jpg" alt="Roasted Fruits Chocolate" height="201px" width="230px">
                        </div>
                            <div class="products-detail">
                                <h3 class="products-list-title">
                                    ROASTED FRUITS
                                </h3>
                                <p class="products-list-description">
                                    Dark Chocolate
                                </p>
                                <button type="button" class="products-button">
                                    66 UAH
                                </button>
                            </div>
                        
                    </div>
                    <div class="swiper-slide">
                        <div class="img_box">
                            <img src="./images/classicwhitechocolate.jpg" alt="Alassic White Chocolate" height="201px" width="230px">
                        </div>
                            <div class="products-detail">
                                <h3 class="products-list-title">
                                    CLASSIC
                                </h3>
                                <p class="products-list-description">
                                    Milk Chocolate
                                </p>
                                <button type="button" class="products-button">
                                    54 UAH
                                </button>
                            </div>
                        
                    </div>
                </div>

                    <!-- <div class="swiper-button-next"></div>
                    <div class="swiper-button-prev"></div> -->
                    <div class="swiper-pagination radio-button"></div>
            </div>  
        </div>
    </section>
    
<script src="./js/swiper-bundle.min.js"></script>
<script src="./js/script.js"></script>