<div class="review hidden-2" data-review>
  <div class="review-modal">
    <button type="button" class="review-close" data-review-close>
      <svg class="review-icon" width="28" height="28">
        <use href="./images/buynow.svg#buynowclose"></use>
      </svg>
    </button>
    <p class="review-title">
      LEAVE A REVIEW ABOUT <span class="choco">OUR CHOCOLATE</span>
    </p>
    <form name="form-review">
      <label class="review-field">
        <input
          class="review-input"
          type="text"
          name="review-name"
          autofocus
          placeholder="Name"
          required
        />
      </label>
      <label class="review-field">
        <input
          class="review-input"
          type="email"
          name="review-email"
          autofocus
          placeholder="Email"
          required
        />
      </label>
      <label class="review-field">
        <input
          class="review-phone"
          type="tel"
          name="review-phone"
          placeholder="Phone number"
          required
        />
        <div class="phone-wrapper-2">
          <svg class="flag-icon" width="32" height="24">
            <use href="./images/buynow.svg#buynowflag"></use>
          </svg>
          <p class="code-2">+380</p>
        </div>
      </label>
      <label class="review-comment">
        <textarea
          class="review-textarea"
          name="review-comment"
          rows="4"
          placeholder="Enter text"
          required
        ></textarea>
      </label>
      <button class="buynow-button" type="submit" data-review-close>
        Send
      </button>
    </form>
  </div>
</div>
