<section class="chocoisloved-section">
    <div class="slider reviewSlider container">
        <h2 class="products-title">
            CHOCOLATE <span>IS LOVED</span>
        </h2>
        <div class="slider-wrapper content">
            <div class="slider-slide card">
                <div class="card-content">
                    <div class="box1">
                        <div class="image">
                            <img src="./images/VictoriaDobrzhanska.jpg" alt="Victoria Dobrzhanska" />
                        </div>
                        <div class="box2">
                            <div class="name-profession">
                                <h2 class="name">
                                    Victoria Dobrzhanska
                                </h2>
                                <p class="comment">I love this chocolate bar. Perfect combination</br>
                                    of light crispy wafer, covered in a thin layer </br> chocolate.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="slider-slide card">
                <div class="card-content">
                    <div class="box1">
                        <div class="image">
                            <img src="./images/NazarBabenko.jpg" alt="Nazar Babenko" />
                        </div>
                        <div class="box2">
                            <div class="name-profession">
                                <h2 class="name">
                                    Nazar Babenko
                                </h2>
                                <p class="comment">This chocolate confection is a delight! A</br>
                                    delight! The wafer is light and crisp, the </br> hazelnut cream is smooth, and the
                                    chocolate</br>is good.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="slider-slide card">
                <div class="card-content">
                    <div class="box1">
                        <div class="image">
                            <img src="./images/OlenaKampusch.jpg" alt="Olena Kampusch" />
                        </div>
                        <div class="box2">
                            <div class="name-profession">
                                <h2 class="name">
                                    Olena Kampusch
                                </h2>
                                <p class="comment">Chocolate is a family favourite treat. Love the</br>delicious smooth
                                    chocolate and the</br>creaminess inside. The wafer is soft but</br>crunchy.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="slider-slide card">
                <div class="card-content">
                    <div class="box1">
                        <div class="image">
                            <img src="./images/NataliaSus.jpg" alt="Natalia Sus" />
                        </div>
                        <div class="box2">
                            <div class="name-profession">
                                <h2 class="name">
                                    Natalia Sus
                                </h2>
                                <p class="comment">The chocolate assortment was delicious. Both</br>
                                    dark and milk chocolate pieces were smooth</br> and just right on the sweetness
                                    level.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="slider-slide card">
                <div class="card-content">
                    <div class="box1">
                        <div class="image">
                            <img src="./images/DaniloNottingham.jpg" alt="Danilo Nottingham" />
                        </div>
                        <div class="box2">
                            <div class="name-profession">
                                <h2 class="name">
                                    Danilo Nottingham
                                </h2>
                                <p class="comment">This is delicious. It so rich and flavorful you</br>don’t need to use
                                    as many. I love topping an</br>apple with almond butter and these chips for</br>a
                                    snack.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="slider-slide card">
                <div class="card-content">
                    <div class="box1">
                        <div class="image">
                            <img src="./images/IrinaTydnyuk.jpg" alt="Irina Tydnyuk" />
                        </div>
                        <div class="box2">
                            <div class="name-profession">
                                <h2 class="name">
                                    Irina Tydnyuk
                                </h2>
                                <p class="comment">This is simply the best chocolate around, and</br>
                                    I'm just thrilled to support a local company! </br> Best local chocolate - world
                                    class :)
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="swiper-pagination"></div>

        <!-- <div class="slider-button-next"></div>
        <div class="slider-button-prev"></div> -->
    </div>

</section>

<script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
<!-- <script src="./js/script.js"></script> -->
<script>
    var swiper = new Swiper('.reviewSlider', {
        slidesPerView: 1,
        // spaceBetween:18,
        freeMode: true,
        pagination: {
            el: '.swiper-pagination',
            clickable: true,
        },
        //   navigation: {
        //   nextEl: ".swiper-button-next",
        //   prevEl: ".swiper-button-prev",
        // },
        breakpoints: {
            768: {
                slidesPerView: 3,
                spaceBetween: 18,
            },
            1200: {
                slidesPerView: 4,
                spaceBetween: 18,
            },
        },
    });


</script>   