<div class="subbackdrop is-hidden" data-subscribe>
  <div class="subscribe-modal">
    <button class="subscribe-modal-close" data-subscribe-close>
      <svg class="modal-close-icon" width="28" height="28">
        <use href="./images/subscribe.svg#subclose"></use>
      </svg>
    </button>
    <section class="subscribe-modal-bg"></section>
    <div class="modal-cont">
      <div class="any">
        <b class="subscribe-modal-header">
          EXPLORE OUR<br />
          <span class="newc">NEW CHOCOLATE </span> FIRST!
        </b>
      </div>
      <div class="subscribe-form-cont">
        <form class="subscribe-modal-email">
          <label>
            <input
              type="email"
              name="email"
              class="subscribe-form-input"
              required
              placeholder="Enter your email"
            />
          </label>
          <button type="submit" class="subscribe-modal-button">
            Subscribe
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
