<!--Subscriber Section-->
<section class="herosub">
  <div class="subscribe-container">
    <h1 class="subhero-title">
      EXPLORE OUR NEW<br />
      CHOCOLATE FIRST
    </h1>
    <p class="description">
      From the velvety texture to the rich and complex flavor, our New
      Chocolateis a true indulgence that will leave you craving more. Made with
      only the finest ingredients and handcrafted with utmost care, each is a
      piece or work of art that is sure to please.
    </p>
    <button type="button" class="sub" data-subscribe-open>Subscribe</button>
  </div>
</section>
