<!--top-sellers section-->
<section class="top-sellers-container" id="top_sellers">
  <div class="top-sellers">
    <h2 class="top-sellers-title">
      <span class="title-top">TOP</span> SELLERS
    </h2>
    <ul class="top-sellers-list list">
      <li class="top-sellers-item">
        <img
          src="./images/topsellers/topsellers-img01.jpg"
          alt="chocolate"
          class="top-sellers-image"
          width="368"
          height="464"
        />
      </li>
      <p class="top-sellers-msg hidden-tablet-desktop">
        Crazy enough chocolate originates from a<br />
        bean just like the coffee bean called Cacao.<br />
        Cacao has been around for thousands of<br />
        years and was first discovered by the Native<br />
        American tribe called the Mayans.
      </p>
      <li class="top-sellers-item">
        <img
          src="./images/topsellers/topsellers-img02.jpg"
          alt="chocolate"
          class="top-sellers-image"
          width="368"
          height="464"
        />
      </li>

      <li class="top-sellers-item img-hidden">
        <img
          src="./images/topsellers/topsellers-img03.jpg"
          alt="chocolate"
          class="top-sellers-image img-hidden"
          width="368"
          height="464"
        />
      </li>
    </ul>

    <div class="wrap-top-sellers">
      <p class="top-sellers-msg hidden-mobile">
        Crazy enough chocolate originates from a bean just like the<br />
        coffee bean called Cacao. Cacao has been around for<br />
        thousands of years and was first discovered by the Native<br />
        American tribe called the Mayans.
      </p>
      <button type="button" class="buy-btn" data-buynow-2-open>Buy now</button>
    </div>
  </div>
</section>
<script type="module" src="./js/buynow-2.js"></script>
